# Auto detect text files and perform LF normalization
* text=auto eol=lf

# From https://github.com/facebook/docusaurus/blob/main/.gitattributes
# could be further tightened but this suffices for now

# Don't do anything with binaries
*.png binary
*.jpg binary
*.svg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
*.webp binary
